[2020-10-03 03:46] ExperimentsInHonesty opened #1 "Alabama"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties and county re

[2020-10-03 04:42] ExperimentsInHonesty opened #3 "Alaska"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties and county re

[2020-10-03 05:05] Arjayellis opened #5 "Arizona"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach on

[2020-10-03 05:14] Arjayellis opened #6 "Colorado"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-03 05:32] Arjayellis opened #7 "State Name - People not Places - Needs to be edited (For Bonnies Eyes only)"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [ ] Add the following columns to you spreadsheet
   - [ ] display_notes
   - [ ] where
   - [ ] start_date
   - [ ] accessibility
- [ ] Delete the following fields
   - [ ] record_number
   - [ ] county_state
   - [ ] name
   - [ ] social
   - [ ] scraper

[2020-10-03 08:32] Arjayellis opened #8 "Illinois"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties and county re

[2020-10-03 08:41] Arjayellis opened #9 "Washington"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for fields th

[2020-10-03 09:11] Arjayellis opened #10 "Delaware"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties and county re

[2020-10-03 09:15] Arjayellis opened #11 "Georgia"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties and county re

[2020-10-03 09:20] Arjayellis opened #12 "Iowa"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

Addresses

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] latitude
   - [x] longitude
   - [x] social
   - [x] state and counties an

[2020-10-03 19:26] Arjayellis opened #13 "Maryland"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-03 19:28] Arjayellis opened #14 "Massachusetts"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach on

[2020-10-03 19:30] Arjayellis opened #15 "Michigan"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-04 02:13] ryanmswan commented on #11
No listed hours, so no formatting changes made on that field.

[2020-10-04 02:42] ExperimentsInHonesty commented on #11
After looking at georgia more deeply it seems there are two repositories of info on the sos website with the following language:

Absentee ballot applications can be returned by mail, fax, email (as an attachment), or in-person to the local County Board of Registrar’s Office.

1.
Click here to locate the contact information for your County Board of Registrar’s Office
which resolves to: The Electio

[2020-10-04 02:43] ExperimentsInHonesty commented on #11
@ryanmswan @Arjayellis will all on Monday to determine answer to questions in comment above https://github.com/hackforla/ballotnav-states/issues/11#issuecomment-703191986 and depending on the answer we may want you to scrape the early voting locations.  We will let you know.

[2020-10-04 14:47] Arjayellis opened #16 "Connecticut"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] record_number
   - [x] county_state
   - [x] name
   - [x] social
   - [x] scraper

[2020-10-04 14:52] Arjayellis opened #17 "Florida"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Add the following columns to you spreadsheet
   - [x] display_notes
   - [x] where
   - [x] start_date
   - [x] accessibility
- [x] Delete the following fields
   - [x] record_number
   - [x] county_state
   - [x] name
   - [x] social
   - [x] scraper

[2020-10-04 14:54] Arjayellis opened #18 "Hawaii"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [ ] Add the following columns to you spreadsheet
   - [ ] display_notes
   - [ ] where
   - [ ] start_date
   - [ ] accessibility
- [ ] Delete the following fields
   - [ ] record_number
   - [ ] county_state
   - [ ] name
   - [ ] social
   - [ ] scraper

[2020-10-04 14:57] Arjayellis opened #19 "Idaho"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-04 17:05] Arjayellis opened #22 "Virginia"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for fields th

[2020-10-05 05:33] Arjayellis opened #23 "Montana"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-05 05:50] Arjayellis opened #24 "California"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-05 06:55] Arjayellis opened #25 "Hawaii"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-05 07:10] Arjayellis opened #26 "Nevada"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-05 07:16] Arjayellis opened #27 "New Mexico"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for fields th

[2020-10-05 07:31] Arjayellis opened #28 "Oregon"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-06 21:46] ryanmswan commented on #11
@ExperimentsInHonesty Are there any updates about this item?

[2020-10-06 22:17] Seymour100 commented on #8
How do you want to represent 24/7?

[2020-10-06 22:19] Arjayellis commented on #11
@ryanmswan I will be giving them a call first thing tomorrow morning to confirm this information for you.

[2020-10-06 22:36] Arjayellis commented on #8
I would just do:

Monday-Sunday: 12AM-11PM

Just so we stay consistent.

@aNullValue What do you think?

[2020-10-06 22:38] aNullValue commented on #8
"Monday-Sunday:00:00-23:59" would work. 12h times are fine too, but just saying 11pm would indicate that it's closed for an hour.

[2020-10-06 22:50] Arjayellis commented on #8
Sorry, I meant to say 12AM to 12AM.

[2020-10-07 00:29] Seymour100 commented on #8
I changed the syntax to 12AM-12PM.

A few notes about this state:

1. there are many dates in the "hours" field. I see we have added a start date column, but there are numerous instances of "ends at 7PM on election day". I've left those as is. Some don't even list the day of the week, but the calendar date.

2. Where there are "except holidays" notes I left them (although I'm thinking that there i

[2020-10-07 20:38] Arjayellis commented on #11
@ryanmswan Spoke to a couple locations and each allows voters to drop off absentee ballots. Have not been able to reach the SOS website as their line is receiving a high amount of traffic.

[2020-10-09 01:12] kcoronel opened #29 "US Territories"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 01:40] kcoronel opened #30 "Indiana"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for fields th

[2020-10-09 02:25] kcoronel opened #31 "Kansas"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for fields th

[2020-10-09 02:35] kcoronel opened #32 "Kentucky"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 03:55] bartleyn commented on #31
Hi just to clarify, the link to the Google Sheet goes to the Washington State County Location, but we're talking about Kansas County Officials, yes?

[2020-10-09 03:56] kcoronel opened #33 "Louisiana"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:08] kcoronel opened #34 "Maine"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:24] kcoronel opened #35 "Minnesota"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:33] kcoronel opened #36 "Mississippi (only accepts mail ballots through mail)"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:37] kcoronel opened #37 "Missouri (only accepts mail ballots through mail)"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:46] kcoronel opened #38 "Nebraska"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 04:55] kcoronel opened #39 "New Hampshire"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 04:59] kcoronel opened #40 "New Jersey"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:02] kcoronel opened #41 "New York"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:07] kcoronel opened #42 "North Carolina"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [ ] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:10] kcoronel opened #43 "North Dakota"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 05:14] kcoronel opened #44 "Ohio"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 05:18] kcoronel opened #45 "Oklahoma"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:22] kcoronel opened #46 "Pennsylvania"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:24] Arjayellis opened #47 "Wyoming"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:26] kcoronel opened #48 "South Carolina"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:29] kcoronel opened #49 "Tennessee (only accepts mail ballots through mail)"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:32] Arjayellis opened #50 "Wisconsin"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 05:34] kcoronel opened #51 "Utah"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:37] Arjayellis opened #52 "West Virginia"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-09 05:42] kcoronel opened #53 "Vermont"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:47] Arjayellis opened #54 "Rhode Island"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Quality
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for fields th

[2020-10-09 05:48] kcoronel opened #55 "South Dakota"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:51] kcoronel opened #56 "Rhode Island"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [x] Data Collection Design
   - [x] Review Secretary of State Website
   - [x] Call a County starting from the first until you reach one that can validate the data with you.
      - [x] Checking the data that we have is correct
      - [x] Gathering data for

[2020-10-09 05:55] #54 closed, assigned to nobody

[2020-10-09 05:58] Arjayellis commented on #31
@bartleyn correct

[2020-10-09 15:01] aNullValue commented on #54
Could this issue be altogether deleted?

[2020-10-10 23:11] Seymour100 commented on #44
@aNullValue should I delete "Board of Elections" from location_type to make room for things like "Courthouse"?

[2020-10-10 23:40] kcoronel commented on #11
@ryanmswan thanks for the work! I noticed that a few address locations were blank example row 23. I found the data by going to this site and looking up the county name : https://elections.sos.ga.gov/Elections/advancedVotingInfo.do
Do you mind doing the same for other locations with no address. Thanks!

Screen shot of row 23 address attached
<img width="1037" alt="Screen Shot 2020-10-10 at 4 18 16

[2020-10-11 00:29] bartleyn commented on #50
I think there are duplicate rows now that names are removed, should I just go ahead and de-dupe or is that something that'll happen on ingestion?

[2020-10-11 00:31] bartleyn commented on #17
1) do we have to get rid of PO box if this is info for county officials?
2) does the hours column need to be populated since this is county officials?

[2020-10-11 03:09] dhbesson commented on #48
A lot of the county website links are broken. Should I go through and ensure they all point to active pages?

[2020-10-11 03:20] kcoronel commented on #48
@dhbesson that would be great, thank you!

[2020-10-11 03:27] kcoronel commented on #9
The Elections Division is open for curbside service. Please call (360) 902-4180 for assistance, M - F 8 a.m. 5 p.m.
November 3 General Election - Deposit your ballot in an official drop box by 8 p.m. on Election Day.

[2020-10-11 03:31] kcoronel commented on #9
@Arjayellis @ExperimentsInHonesty should I add this list of drop off boxes to the scraped data? https://www.sos.wa.gov/_assets/elections/ballot%20drop%20boxes%202019%20general%20election.pdf

[2020-10-11 04:07] kcoronel commented on #6
I believe each county has a list of drop off locations, I found some for [Jefferson County](https://www.jeffco.us/3907/Find-Voting-Locations), [Larimer County](https://www.larimer.org/clerk/elections/voting-locations#/map/ALL), etc. but I haven't found an entire list @Arjayellis @ExperimentsInHonesty

[2020-10-11 04:30] dhbesson commented on #48
@kcoronel ok all the links are fixed. moving over to review column

[2020-10-11 04:41] kcoronel commented on #12
[Auditors may use ballot drop boxes at county buildings only, secretary of state says](https://www.desmoinesregister.com/story/news/politics/2020/09/03/paul-pate-secretary-of-state-gives-ballot-drop-box-guidance-iowa-county-auditors/5704567002/) Dated: Sept. 3

[2020-10-11 04:45] kcoronel commented on #1
WITNESSES OR NOTARIZATION
An absentee ballot cannot be counted unless the affidavit is notarized or has the signatures of two witnesses.

The voter has only the following legal ways to return the absentee ballot:
- forwards the absentee ballot by U.S. Mail
- forwards the absentee ballot by commercial carrier
- personally hands their own absentee ballot to the absentee election manager (or delivers

[2020-10-11 04:54] kcoronel commented on #5
No list of drop of boxes

What are my options for returning my voted ballot-by-mail?
You have two options for returning your ballot-by-mail:

- Mail back your ballot: Use the pre-paid envelope included in your ballot-by-mail package. For the November General Election, we recommend mailing it by October 27,2020 (7 days) before Election Day to ensure it reaches your county election officials on time

[2020-10-11 05:17] kcoronel commented on #39
**Is there a deadline for returning my absentee ballot?**
Yes. But it depends on whether you plan to mail your ballot or deliver it in-person.

If you’re mailing your absentee ballot, it needs to arrive to your local clerk by 5 p.m. on Election Day in order to be counted, according to New Hampshire law. This is different from some other states, which allow ballots to be counted if they are postmar

[2020-10-11 05:34] kcoronel commented on #39
@ExperimentsInHonesty @Arjayellis unsure if this is done since it doesn't have addresses - this is how the state lists [clerk details](https://app.sos.nh.gov/Public/ClerkDetails.aspx)

[2020-10-11 05:38] kcoronel commented on #52
Returning an Absentee Ballot
After receiving an absentee ballot, the voter may simply vote and return the ballot to the County Clerk in the appropriate envelopes as soon as possible (or by hand delivery at the Clerk’s office).

If your first time voting will be absentee by mail, you must send a copy of one of the forms of valid ID listed below with your ballot.

- Valid ID for first time voters mu

[2020-10-11 05:50] kcoronel commented on #52
@Seymour100 Thanks for this! Can you please add emails to the data? Thanks! [Clerk Directory](https://sos.wv.gov/elections/Pages/CountyClerkDirectory.aspx)

[2020-10-11 05:53] kcoronel commented on #56
ATTENTION: Voters may utilize any drop box in any Rhode Island City/Town Hall. The drop box does not need to be in the City/Town where you reside and are registered. In addition, the Board voted to allow drop boxes in every polling location. Voters may place the completed oath envelope with the enclosed voted ballot in the drop box of his/her choosing.

[2020-10-11 06:10] kcoronel commented on #55
@Seymour100 can you please update the data with this information that lists physical addresses  [2020CountyAuditorContactListWithPhysicalAddress](https://sdsos.gov/elections-voting/assets/2020CountyAuditorContactListWithPhysicalAddress.pdf)

[2020-10-11 06:16] kcoronel commented on #46
**Drop Boxes and Dropoff Sites**
Drop boxes are a safe and secure way for Pennsylvania voters to return their voted mail-in or absentee ballots. Voters may return their mail-in or absentee ballot at their county election board's designated drop box(es) or dropoff location before 8 p.m. on election day, Tuesday, November 3, 2020.

Services available at a drop box or dropoff location:
Return only yo

[2020-10-11 06:17] kcoronel commented on #46
@Arjayellis @ExperimentsInHonesty this is an updated list with additional [drop off locations](https://www.votespa.com/voting-in-pa/pages/drop-box.aspx)

[2020-10-11 06:21] kcoronel commented on #44
Return your voted ballot.
If you return your absentee ballot by mail, it must be postmarked no later than the day before Election Day and received by your county board of elections no later than 10 days after the election. By state law, a postmark does not include a date marked by a postage evidence system such as a postage meter. The U.S. Postal Service (USPS) estimates that it may take two to fi

[2020-10-11 06:23] kcoronel commented on #44
@Seymour100 I made the edits, thank you!

[2020-10-11 06:40] kcoronel commented on #47
All Absentee ballots must be received in the county clerk's office no later than 7:00 p.m. on Election Day. Ballots arriving after the deadline will not be counted.

Ballots may be returned to the county clerk in the following ways:

In Person – Bring your completed absentee ballot in the signed envelope to your county clerk’s office.
By Mail – Mail your completed absentee ballot in the provided e

[2020-10-11 06:52] kcoronel commented on #47
validators need to confirm a physical address for county information listing a PO Box

[2020-10-11 18:34] Seymour100 commented on #52
@kcoronel , no problem. Done. S

[2020-10-11 18:53] Seymour100 commented on #55
@kcoronel , it looks like there are counties in this file that are not in the orginal file, and there are counties in the original file that aren't in this one. So I created new columns: county_new, match, address_1_new, and address_2_new. The "..._new" columns are all from the link you provided above.

[2020-10-12 04:14] aNullValue commented on #1
I have copied this state's data for review and import into the production database. Do not make any further changes to this state's data in Google Drive.

[2020-10-12 04:14] aNullValue commented on #44
I have copied this state's data for review and import into the production database. Do not make any further changes to this state's data in Google Drive.

[2020-10-12 22:22] kcoronel commented on #15
Clerk Info: https://mvic.sos.state.mi.us/

[2020-10-13 00:39] kcoronel commented on #46
@Seymour100 found a new list of additional [drop off locations](https://www.votespa.com/voting-in-pa/pages/drop-box.aspx) for PA that was recently posted. Do you have capacity to get it re-scrapped to include additional locations

[2020-10-13 00:42] kcoronel commented on #8
@aNullValue @Seymour100 I changed the format for hours, to be recognized in one location, ping me if you need more info

[2020-10-13 01:06] Arjayellis opened #57 "Product Action Items"
### Overview
We need to get everything finalized for DB review

### Action Items
- [x] Validate Vermont
- [x] Confirm Northern Mariana Islands Data
- [x] Create Arkansas issue
- [x] Validate one more location for Pennsylvania
- [x] Validate 4 states PO box data to determine if we need to keep anything

[2020-10-13 01:12] Seymour100 commented on #46
@kcoronel yes, I think I can do this one all in Google Docs since the information is presented in a table.

[2020-10-13 02:18] kcoronel commented on #46
awesome @Seymour100 keep us posted!

[2020-10-13 02:38] kcoronel commented on #14
Folks in Massachusetts can submit a ballot online: https://www.sec.state.ma.us/VoterRegistrationSearch/preface.aspx

You may use this directory to locate contact information for submitting your 2020 Vote by Mail application to your local election office.

To submit your application, find your city/town in the list below. Your signed application may be submitted BY MAIL to the mailing address liste

[2020-10-13 03:33] Seymour100 commented on #46
@kcoronel , I added a second sheet for this data so as not to disturb the first scrape. I also added a column "day" since some hours applied to specific days. Should be ready now.

[2020-10-13 03:50] aNullValue commented on #44
FWIW, I made extensive adjustments to this data prior to import, including address corrections, hour corrections, website URL normalization.

[2020-10-13 04:47] aNullValue commented on #56
I have copied this state's data for review and import into the production database. Do not make any further changes to this state's data in Google Drive.

[2020-10-13 05:29] aNullValue commented on #52
I have copied this state's data for review and import into the production database. Do not make any further changes to this state's data in Google Drive.

[2020-10-13 06:00] aNullValue commented on #3
I see that this file has an entry for Nome, Alaska, but that does not appear on Alaska's Vote By Mail Ballot Drop Boxes page (https://elections.alaska.gov/Core/votingbymail.php). Should it really be there?

[2020-10-13 06:19] aNullValue commented on #5
⚠️ ⚠️ ⚠️

This file cannot be processed as-is: it contains the contact information for authorities from whom voters can obtain information about voting processes; it does not (necessarily) contain information regarding locations to which marked ballots can be deposited.

Arizona does not seem to maintain a state-wide list of ballot drop boxes / drive-through drop boxes / early voting locations (or

[2020-10-13 13:21] kcoronel commented on #14
I am working on updating this information 10/13

[2020-10-13 16:24] aNullValue commented on #49
I don't see the point to importing anything for Tennessee, because that state doesn't permit _any_ return method other than by mail.

[2020-10-13 16:56] Arjayellis opened #58 "Arkansas"
### Overview
The database or data has some formatting or other issues that need to be resolved before it can be imported.

### Action Items
- [X] Data Collection Design
   - [X] Review Secretary of State Website
   - [X] Call a County starting from the first until you reach one that can validate the data with you.
      - [X] Checking the data that we have is correct
      - [X] Gathering data for

[2020-10-13 21:29] Arjayellis commented on #49
Agreed. Can we just indicate that on the site then in some way?

[2020-10-14 00:17] kcoronel commented on #46
I combined all of the listed locations into sheet 2-it is the complete list for PA as mentioned [here](https://www.votespa.com/voting-in-pa/pages/drop-box.aspx)

[2020-10-14 00:34] kcoronel commented on #51
This doesn't list all of Utah's locations I used the following random address: 290 W 100 NWashington, UT 84780
 in [Utah's voter system](https://votesearch.utah.gov/voter-search/resident/home), and it gave me drop off locations not listed in our scrape.

[2020-10-14 00:49] Arjayellis commented on #13
@javaprincess
- Address needs to be broken up into individual components (please see the last action item in the text above)
- What is the purpose of the two numbers per location? Do they both direct to the same place?
- Please add days of the week for the hours section

[2020-10-14 00:58] Arjayellis commented on #45
@javaprincess
- Addresses needs to be broken up into individual components (please see the last action item in the text above)
- Please remove all PO box addresses (our tool is for drop off locations only, so these are not useful)
- Hours in incorrect format (see hours instructions above)
- Emails located here (https://www.ok.gov/elections/County_Election_Board_Email_Addresses.html)

[2020-10-14 18:01] aNullValue commented on #50
I requested an official copy of Wisconsin's data from the state, and they emailed me an Excel file with everything we need. Of course it doesn't conform to our file format, but I'll manually address that during import. Existing Wisconsin work can be stopped/abandoned.

I'll update this issue once I've actually processed Wisconsin's data.

[2020-10-14 20:06] Arjayellis commented on #48
Most PO box locations called confirmed ballots can be dropped off at the nearest courthouse

[2020-10-14 20:06] Arjayellis commented on #48
https://www.scvotes.gov/absentee-voting

[2020-10-14 20:42] Arjayellis commented on #29
Mail-in only for absentee ballots in Northern Mariana Islands

[2020-10-14 20:59] Arjayellis commented on #11
This has been completed.

[2020-10-14 21:05] #57 closed, assigned to nobody

[2020-10-14 21:44] kcoronel commented on #41
This looks like a complete list of county board of elections offices where voters can return their ballot. We will need to retrieve a list of early voting poll sites where voters can return their ballot between October 24th and November 1st and a list of physical poll sites where voters can bring their ballot on November 3rd by 9pm.

[2020-10-15 03:55] kcoronel commented on #38
**Nebraska Voting ** the return envelope containing the ballots may be mailed back to the County Election Office returned by personal delivery, an agent, or courier service to the county office or drop box. We would need to have validators ask about drop box locations within the state

[2020-10-15 04:10] kcoronel commented on #37
**Mail-in ballots must be returned by mail in the provided envelope**, with the statement on the envelope signed and witnessed by a notary. In order to be counted, mail-in ballots must be received by the election authority at or before the time fixed by law for the closing of the polls on Election Day (7:00 p.m.).

[2020-10-15 04:25] kcoronel commented on #36
MISSISSIPPI IS A BOTTOM-UP STATE, SO ELECTIONS ARE RUN BY COUNTY
ELECTION OFFICIALS. PLEASE CONTACT YOUR COUNTY CIRCUIT CLERK TO SEE IF
YOU ARE QUALIFIED TO VOTE ABSENTEE.

**Can I vote absentee by mail?**
Possibly. Under Mississippi law, certain excuses allow a voter to cast their absentee ballot by mail. Those who
are sixty-five (65) years old or older, any person who is the parent, spouse or de

[2020-10-15 04:37] kcoronel commented on #35
**Returning your ballot by mail**
It must be postmarked on or before Election Day (November 3, 2020) and received by your county within the next seven calendar days (November 10). Return your ballot by mail or package delivery service (such as FedEx or UPS).

**Returning your ballot in person**
You can also return your ballot in person no later than 3 p.m. on Election Day to the election office th

[2020-10-15 04:53] aNullValue commented on #50
Wisconsin is processed.

[2020-10-15 04:56] kcoronel commented on #34
[Source](https://www.maine.gov/sos/cec/elec/munic.html)
--
[Maine voting rules](https://www.maine.gov/sos/cec/elec/voter-info/absent.html)
Rules: **Any registered voter may cast an absentee ballot instead of voting in person at a voting place on Election Day.**You don't need to have a specific reason or be unable to vote at the voting place on Election Day to receive an absentee ballot.  Voting ab

[2020-10-15 05:02] kcoronel commented on #34
Validators will need to determine a list of additional drop off locations, certain EAJ's don't have an address associated with their information in the sheet, validator will need to call and find address.

[2020-10-15 05:15] kcoronel commented on #33
In Louisiana, you must have a [reason](https://www.sos.la.gov/ElectionsAndVoting/Vote/VoteByMail/Pages/default.aspx) to be eligible to vote by mail, unless you are a military or overseas voter.

**METHODS FOR RETURNING YOUR VOTED BALLOTS**
By Mail (includes commercial carrier).
By Fax: Upon request submitted to the registrar of voter
By Hand Delivery: A voter or immediate family member of the vote

[2020-10-15 05:36] aNullValue commented on #43
North Dakota has been processed.

[2020-10-15 05:55] aNullValue commented on #38
Nebraska has been imported.

[2020-10-15 06:11] aNullValue commented on #11
Georgia has been imported.

[2020-10-15 06:14] kcoronel commented on #31
Advance voting by mail has been allowed to all Kansas voters since 1996. You do not need an excuse to advance vote by mail ballot. However, you do need to apply to have an advanced by mail ballot mailed to you for each election as they are NOT mandatory and are sent to voters by county election offices at the request of the voter.

Each of the 105 counties in Kansas has a county election officer r

[2020-10-15 08:50] Arjayellis commented on #9
@aNullValue Is there an easy way to transfer the data at that link Karen posted into an excel document? That's the information we want.

[2020-10-15 08:59] Arjayellis commented on #22
if you requested an absentee ballot, you may complete it and drop it off at any drop-off location in your county or city. There is a drop-off location at your local registrar's office, at every voter satellite office in your county or city, and on Election Day at each polling place in your county or city. (https://www.elections.virginia.gov/casting-a-ballot/)

[2020-10-15 09:04] Arjayellis commented on #23
@bartleyn Are you able to add the hours here? https://img1.wsimg.com/blobby/go/72b87ad8-cd25-4fd4-a34a-08be5076c0f1/downloads/2020%20Primary%20Ballot%20Drop%20Off%20Locations%20and%20Hou.pdf?ver=1590505306933

[2020-10-15 09:14] Arjayellis commented on #25
@weskhoo are you able to scrape this sheet for the locations? https://elections.hawaii.gov/wp-content/uploads/Voter-Service-Centers-and-Places-of-Deposit-Map-Statewide-General-2020_Updated-2020-10-01-1.pdf

[2020-10-15 09:28] Arjayellis commented on #26
Looks like most counties have a page with the updated drop box locations (https://www.washoecounty.us/voters/elections/ballot_drop_off.php)(https://cms8.revize.com/revize/clarknv/election%20department/mb-drop-20g.pdf?t=1602612989397&t=1602612989397)(https://www.mynevadacounty.com/3099/Ballot-Drop-Boxes)

[2020-10-15 09:31] Arjayellis commented on #27
Completed absentee ballots can be dropped off at any clerks office or polling location – with or without a drop box – although voters must hand in their ballots in the same county they are registered to vote in

[2020-10-15 09:39] Arjayellis commented on #28
New ballot drop locations just posted https://sos.oregon.gov/voting/Documents/Oregon-Dropsites-Public.pdf @scaress21 Would you be able to scrape this?

[2020-10-15 15:11] aNullValue commented on #48
South Carolina is processed.

[2020-10-15 15:13] aNullValue commented on #48
For what it's worth, there were numerous glaring problems with addresses and phone numbers that I manually corrected prior to importing.

[2020-10-15 15:37] aNullValue commented on #32
Kentucky has been processed.

[2020-10-15 16:07] Arjayellis commented on #16
Additional list of secured drop boxes posted. Looks mostly the same as our scrape https://www.acluct.org/sites/default/files/field_documents/connecticut_secure_absentee_ballot_drop_box_locations_for_nov._3_2020_election_-_sheet1_2.pdf

[2020-10-15 16:20] weskhoo commented on #25
Hello Randall,

Yes I can do that!

On Thu, Oct 15, 2020, 02:14 Randall Ellis <notifications@github.com> wrote:

[2020-10-15 16:22] scaress21 commented on #28
I can scrape this today!

[2020-10-15 17:28] aNullValue commented on #41
New York has been processed.

[2020-10-15 17:50] aNullValue commented on #22
Virginia is processed.

[2020-10-15 18:03] aNullValue commented on #24
California has been processed.

[2020-10-15 18:03] Arjayellis commented on #30
only the voter, the voter’s attorney-in-fact, a bonded courier, or a member of the voter’s immediate household may hand-deliver a completed absentee ballot to the county election board. Any person other than the voter doing so is to complete the ABS-19 affidavit.

[2020-10-15 18:22] aNullValue commented on #35
Minnesota has been processed.

[2020-10-15 18:45] aNullValue commented on #31
Kansas has been processed.

[2020-10-15 19:20] Arjayellis commented on #28
Thank you! @scaress21

[2020-10-15 19:21] Arjayellis commented on #25
@weskhoo thank you!

[2020-10-15 22:15] #7 closed, assigned to ExperimentsInHonesty

[2020-10-15 22:35] Arjayellis commented on #53
@AlbertUlysses Are you able to fix the formatting for this one? It's our last state.

[2020-10-16 00:58] AlbertUlysses commented on #53
Does hours have to be "Monday-Friday" or is "M-W" okay? @Arjayellis  Also, how should ranges be separated? For example, "Monday-Wednesday: 7-7, Thursday-Friday: 6-5"

[2020-10-16 01:10] Arjayellis commented on #53
@AlbertUlysses Needs to be one of the below:
MONDAY-FRIDAY:1:00 PM-4:30PM or Monday-Friday:7:00-12:00

[2020-10-16 01:17] Arjayellis commented on #53
Here are a couple more examples:

Tuesday:9:00AM-3:00PM;Thursday:9:00AM-3:00PM or Tuesday:9:00-15:00;Thursday:9:00-15:00

[2020-10-16 02:34] aNullValue commented on #46
Pennsylvania has been processed.

[2020-10-16 02:42] aNullValue commented on #47
Wyoming has been processed.

[2020-10-16 03:06] aNullValue commented on #58
Arkansas has been processed.

[2020-10-16 03:26] aNullValue commented on #30
Could someone take another look at Indiana? The following counties seem to be absent from the file, without explanation:

Crawford County, Daviess County, DeKalb County, Fountain County, Greene County, Jennings County, Montgomery County, Newton County, Starke County, Brown County, Pike County

See also https://indianavoters.in.gov/CountyContact/Index (Election board contact (left side), not necess

[2020-10-16 03:42] aNullValue commented on #27
New Mexico has been processed.

[2020-10-16 03:54] aNullValue commented on #10
Delaware has been processed.

[2020-10-16 04:22] aNullValue commented on #33
Louisiana has been processed.

[2020-10-16 04:33] aNullValue commented on #19
Idaho processed, despite missing counties:

Boundary County, Clearwater County, Latah County, Nez Perce County, Adams County, Bannock County, Boise County, Butte County, Camas County, Caribou County, Clark County, Custer County, Gooding County, Madison County, Minidoka County, Owyhee County, Twin Falls County

[2020-10-16 04:42] aNullValue commented on #12
Iowa has been processed.

[2020-10-16 04:56] aNullValue commented on #8
Illinois must be revisited. The majority of their jurisdictions are missing from the provided file, and no jurisdictions had contact info.

I processed the file anyway, but... I'd rather just delete it all and begin again. :-\

[2020-10-16 15:45] aNullValue commented on #15
FWIW, there are now drop boxes listed on those pages linked above. I can't remember if it was Seymour or Albert, but I know that I talked with someone about scraping those drop boxes for import.

Michigan has been processed as it currently exists.

[2020-10-16 16:15] aNullValue commented on #34
Maine has been processed.

[2020-10-16 16:42] aNullValue commented on #16
Connecticut has been processed.

[2020-10-16 18:32] Seymour100 commented on #8
I'll try to take a look at it this weekend. I'm guessing because I scraped the dropbox page, which is separate from the jurisdictions page, that not every jurisdiction had a dropbox.

[2020-10-16 19:16] aNullValue commented on #53
Note for the future: Vermont processing is an atypical case (will require manual jurisdiction rebuild) so I should handle its import personally.

[2020-10-16 19:16] aNullValue commented on #14
Note for the future: Massachusetts processing is an atypical case (will require manual jurisdiction rebuild) so I should handle its import personally.

[2020-10-16 19:16] aNullValue commented on #39
Note for the future: New Hampshire processing is an atypical case (will require manual jurisdiction rebuild) so I should handle its import personally.

[2020-10-17 02:25] aNullValue commented on #39
New Hampshire has been processed from data I gathered directly from the NH SOS website (after reformatting).

[2020-10-17 04:58] aNullValue commented on #9
That link Karen posted was actually to the _2019_ election information, so is not relevant for this election.

That said, I found links that are relevant, downloaded them, and reformatted. I saved the spreadsheets as new tabs in the google spreadsheet. Then I processed them.

[2020-10-17 22:21] kcoronel commented on #14
@aNullValue should we ask someone to scrape information for this state?

[2020-10-18 01:24] kcoronel commented on #55
@aNullValue how should I edit the data schema from Seymour's comment above

[2020-10-18 01:29] kcoronel commented on #6
@aNullValue the data for this is as good as we can have it however we don't have a list of drop off locations for all counties, let me know how you want us to proceed.

[2020-10-18 01:29] aNullValue commented on #55
Make sure that the data from column A is appropriately represented in columns E,F. Once that's done, delete column A. Then you can move it to ready-to-import.

[2020-10-18 01:31] aNullValue commented on #6
@kcoronel If it's as good as we can get it for now, go ahead and send it to ready-for-import and I'll get it imported.

[2020-10-18 01:32] kcoronel commented on #51
@aNullValue data is clean here but I found that we didn't have all the drop boxes and no central location to scrape them

[2020-10-18 01:33] aNullValue commented on #51
@kcoronel if it's as good as we can get it, move it to ready-for-import

[2020-10-18 01:34] kcoronel commented on #26
Copying @Arjayellis here

 @bartleyn can you do a scrape of the county pages so that we can upload them to the existing information

[2020-10-18 02:26] aNullValue commented on #6
Colorado has been processed

[2020-10-18 02:39] aNullValue commented on #51
Utah has been processed

[2020-10-18 02:50] aNullValue commented on #55
South Dakota is processed.

[2020-10-18 02:55] aNullValue commented on #14
@kcoronel Uhhhhhh. Something's not right here; I'm just not sure what went wrong. Massachusetts doesn't use the concept of "County", so I'd expect "City" to be there, but there's a separate column for that. And there's some stuff that is in the "County" of Boston but in various cities? I don't know how to interpret this data. Particularly since location_type and location_name are almost entirely b

[2020-10-18 02:55] aNullValue commented on #14
I don't know if this needs to be re-scraped or if the original scraper still has the data and could just fix whatever happened here, or... something else.

[2020-10-18 14:50] aNullValue commented on #13
For what it's worth, Maryland's county locations only included their "Early Voting Locations". I found their elections offices in a separate spreadsheet, and then downloaded their "Election Day Vote Center" and "Drop box" lists from their website, and spent a while reformatting it all. So Maryland no longer looks anything like what it did.

[2020-10-18 18:48] kcoronel commented on #13
Just noticed that @aNullValue, THANK YOU! I added the necessary columns, do you know if hours are Mon-Friday? I can add it

[2020-10-18 18:49] aNullValue commented on #13
I'll take it from here. >_< I already downloaded it from the spreadsheet, and just forgot to comment. Sorry.

[2020-10-18 19:25] kcoronel commented on #28
@scaress21 not seeing the scrape for the new locations in the sheet titled officials, let me know if it is somewhere else

[2020-10-18 20:35] Seymour100 commented on #28
I added another tab in this file that representing the URL above. I put column in it that compares address_1 to the old address_1. It doesn't look to me like there have been any changes, just a couple of edits. I also tried to format the hours for this one.

[2020-10-18 20:43] aNullValue commented on #28
@kcoronel you were probably looking at Oregon County Officials:
https://docs.google.com/spreadsheets/d/1o8bb-JvmzVRLKb47B4cWRZanTGb7bq5wDDB_rD94aO4/edit#gid=874271103

Whereas @Seymour100 was working in Oregon County Locations:
https://docs.google.com/spreadsheets/d/1FB4mRNkcXbUhLRoIT8bY-SA8XJaCp-uvmc8OJpfbEro/edit#gid=1681823373

It appears to me as though I should use the locations that Seymour

[2020-10-18 20:43] scaress21 commented on #28
Since this looked to be locations rather than officials I saved it in a new sheet “Oregon County Location”

[2020-10-19 02:13] aNullValue commented on #28
Oregon has been processed.

[2020-10-19 14:42] aNullValue commented on #5
Apache County Early Voting / Ballot drop boxes: https://www.apachecountyaz.gov/Early-Voting-Ballot-Drop-Boxes

Cochise County drop boxes: https://www.cochise.az.gov/recorder/ballot-box-locations

Coconino County:

Non-Navajo Early voting sites: https://www.coconino.az.gov/DocumentCenter/View/37870/Early-Voting-Sites-2020-General?bidId=

Non-Navajo ballot drop boxes: https://www.coconino.az.gov/Doc

[2020-10-20 04:00] Arjayellis commented on #17
@bartleyn we decided that officials are not relevant for the purpose of this project. Hours are necessary for validation. For PO boxes, we only care about physical locations, so they do not matter any longer.

[2020-10-20 07:38] bartleyn commented on #23
Data has been updated with hours and new locations according to the primary ballot drop-off locations linked above

[2020-10-20 14:40] aNullValue commented on #23
Montana has been processed

[2020-10-20 15:18] aNullValue commented on #53
Note that I had to entirely discard the google spreadsheet, because it uses the "county' jurisdiction level, but Vermont uses Towns. I downloaded a list of town clerks from the state, and then reformatted it and processed it accordingly.

[2020-10-20 15:30] aNullValue commented on #40
New Jersey's data is not suitable for import.

The existing spreadsheet must be preserved intact, as it contains the offices to which people can return ballots. But we additionally need the ballot drop boxes page to be scraped into a new spreadsheet/tab so that it can be imported at the same time:

https://www.nj.gov/state/elections/vote-secure-drop-boxes.shtml

[2020-10-21 21:48] weskhoo commented on #25
Updated on 10/19/2020.

[2020-10-22 06:56] Arjayellis commented on #45
@indusandar @tammyernst

[2020-10-22 16:04] aNullValue commented on #45
Oklahoma is processed.

[2020-10-22 16:10] aNullValue commented on #29
The data in this spreadsheet is not suitable for import.

1. Multiple "states" are listed in the same file; they must be split.
2. There's no address for all but one of the locations. Our data model cannot handle a location not having an address.
3. Without any locations to list, our front-end isn't going to have anything to show the end-user (just like the states where ballots must be mailed back

[2020-10-23 00:44] Arjayellis commented on #25
@tammyernst @indusandar Ready for import

[2020-10-23 01:25] Seymour100 commented on #8
@aNullValue , I added a second sheet "Jurisdiction Offices" to the Illinois Google Sheet with the details of their offices and contacts. Note the last 6 records aren't counties but cities.

[2020-10-23 09:04] allysmatrix commented on #30
Adding back the following 12 counties (Source: https://indianavoters.in.gov/CountyContact/Index):
Brown
Crawford
Daviess
DeKalb
Fountain
Greene
Jennings
LaPorte (name edited)
Montgomery
Newton
Pike
Starke

Cross-referenced county list against: https://ballotpedia.org/Counties_in_Indiana

[2020-10-23 19:57] Seymour100 commented on #14
@aNullValue , @Arjayellis , I've add another country tab to the Google Sheet with a fresh scrape. I also added 3 columns to it: dropbox_address, dropbox_city, and dropbox_notes. If there is not dropbox_city I'm assuming its the same as the office city. There are a handful of cities that have multiple drop boxes. For these there is one record for office address and then multiple records for the dro

[2020-10-23 22:30] bartleyn commented on #17
I've gone through and tried to put in a ton of early voting sites with their dropboxes, but in the interest of time I didn't do all the early voting sites for all the counties. I have verified each address however in the spreadsheet

[2020-10-23 22:51] aNullValue commented on #25
Hawaii has been processed.

[2020-10-24 01:04] aNullValue commented on #14
Massachusetts has been processed.

[2020-10-24 13:34] aNullValue commented on #30
Indiana has been processed.

[2020-10-24 17:11] aNullValue commented on #40
I manually scraped that other page myself, merged the results together, and then processed them.

[2020-10-24 17:19] aNullValue opened #59 "Texas (Restricted eligibility)"

[2020-10-24 17:19] aNullValue opened #60 "Washington DC"

[2020-10-24 18:24] aNullValue commented on #60
Seymour previously scraped information from the Washington DC Board of Elections website. However DC BOE has made available open-data spreadsheets containing ballot drop boxes, early voting vote-centers, and election day vote-centers, all of which have places to return ballots received by mail. I downloaded those spreadsheets, reformatted them appropriately, and processed the spreadsheet.

[2021-04-09 16:59] #9 closed, assigned to nobody

[2021-04-09 17:00] #23 closed, assigned to nobody

[2021-04-09 17:00] #58 closed, assigned to nobody

[2022-03-26 17:11] #6 closed, assigned to nobody

[2022-03-26 17:11] #39 closed, assigned to nobody

[2022-03-26 17:11] #51 closed, assigned to nobody

[2022-03-26 17:12] #55 closed, assigned to nobody